apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configmap.name }}
  namespace: {{ .Values.namespace }}
data:
  index.html: |
     <h1> CREATE TOKEN APP</h1><label> Criterial one</label><br/><input type="text" placeholder="enter criterial one"/><br/><br/><label> Criterial two</label><br/><input type="text" placeholder="enter criterial two"/><br/><br/><br/><br/><input type="submit" value="submit"/>
